# Pandas TOC
[main ressource](https://www.tutorialspoint.com/python_pandas/python_pandas_introduction_to_data_structures.htm)
- Datetime in python
- 3 objects: Date, Time, DateTime  (from datetime import datetime, date, time)
- time deltas (from datetime import timedelta)
  - operations:
    - minus, plus, multiply, divide
- convert between datetime and string and vice versa
  - `datetime.now().isoformat()` convert to string
  - `datetime.strptime('21/11/06 16:30', '%d/%m/%y %H:%M')` convert to datetime
  - `import dateutil.parser; dateutil.parser.parse('21/11-06 16:30')` easy (forgiving) datatime parsing lib
- Pandas (Series and DataFrame)
  - Series
    - 1 dimensional data structure (keys and values)
    - keys default to zero-indexed, but can be given anything
  - DataFrame2
    - 2 dimensional data structure
    - `pandas.DataFrame( data, index, columns, dtype, copy)`
    - columns can be of different types
    - data can be lists, dicts, maps, ndarrays.

In [4]:
import pandas as pd
pd.Series([4,3,2,1]) # zero indexed one dimentional data structure

0    4
1    3
2    2
3    1
dtype: int64

In [6]:
pd.Series({'name':'Olsen','age':39,'address':'Sønder boulevard 43','job':'carpenter'}) #indexed by dict keys

address    Sønder boulevard 43
age                         39
job                  carpenter
name                     Olsen
dtype: object

In [8]:
pd.Series(56, range(5,20,2)) #scalar value, and indexes created from

5     56
7     56
9     56
11    56
13    56
15    56
17    56
19    56
dtype: int64

In [15]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
pd_data = pd.Series(data, [100,90,80,70]) #numpy ndarray as input for pandas Series values
print(pd_data)

100    a
90     b
80     c
70     d
dtype: object

### Accessing data from pd.Series

print(pd_data[100]) #acces with key
print(pd_data[:3])  #acces with slicing
print(pd_data[-2:])  #slicing from behind

In [ ]:
# error when key does not exist in Series:
print(pd_data[110])

### pd.DataFrame
The panda dataframe is a 2 dimentional data structure with columns and rows:
<img src="https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg" alt="drawing" width="300"/>

[Tutorial on concat of dataframes](https://www.dataquest.io/blog/pandas-concatenation-tutorial/)